@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=1420&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  position: absolute;
  /* This code removes the white blurry color on the corner of the screen */
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px); /* takes all the width screen*/
  height: calc(100vh + 60px); /* takes all the height screen */
  /* ------------------------------------------------------------------  */

  z-index: -1; /* The equivalent of layer on photoshops (-1 means behind the text) */
  filter: blur(0px); /* the blur effect of the screen */
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
